body {
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

/* HEADER NAVBAR */
.header-overall .navbar,
.main-footer {
  /* height: 80px; */
  background-color: #2c3e50;
  color: #fff;
}

.header-overall .navbar {
  border-radius: 0;
  border: none;
}

.header-overall [class*="navb"],
.header-overall [class*="navb"]  li a {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.navbar-default .navbar-brand:hover {
  color: #fff;
}

.header-overall [class*="navb"]  li a:hover {
  color: #1abc9c;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

/* HERO */
.header-hero,
.about {
  height: 100%;
  background-color: #1abc9c;
  color: #fff;
}

.box {
  margin: 10px 10px;
  padding: 30px;
  text-align: center;
  border: 1px solid black;
}

.bnt {
  padding: 10px;
}

.main-footer {
  height: 100%;
}
